mqtt:
  enabled: true
  host: 127.0.0.1
  port: 1883

detectors:
  onnx:
    type: onnx
    device: '0'
    num_threads: 3
    execution_providers:
      - cuda
      - cpu

model:
  path: /config/models/yolov9-s-320.onnx
  model_type: yolo-generic
  input_tensor: nchw
  input_pixel_format: bgr
  input_dtype: float
  width: 320
  height: 320
  labelmap_path: /labelmap/coco-80.txt

ffmpeg: &ffmpeg_defaults
  hwaccel_args:
    - -hwaccel
    - nvdec
    - -hwaccel_device
    - '0'
    - -hwaccel_output_format
    - yuv420p
  input_args:
    - -rtsp_transport
    - tcp
    - -fflags
    - +genpts+discardcorrupt

record:
  enabled: true
  retain:
    days: 7
    mode: all
  alerts:
    retain:
      days: 10
  detections:
    retain:
      days: 10

objects:
  track: [person, dog, cat]
  filters:
    person:
      min_score: 0.6
      threshold: 5
      min_area: 2000

cameras:
  cobra_cam_1:
    enabled: true
    ffmpeg:
      <<: *ffmpeg_defaults
      inputs:
        - path: rtsp://admin:il0wwlm%3F@192.168.1.101:554/ch01/0
          roles: [detect, record]
    detect:
      width: 1280
      height: 720
      fps: 1
    zones:
      yard_gate:
        coordinates: 0.0,1.0, 1.0,1.0, 1.0,0.7, 0.0,0.7
        objects:
          - person
          - dog
          - cat

  cobra_cam_2:
    enabled: true
    ffmpeg:
      <<: *ffmpeg_defaults
      inputs:
        - path: rtsp://admin:il0wwlm%3F@192.168.1.102:554/ch01/0
          roles: [detect, record]
    detect:
      width: 640
      height: 360
      fps: 1
    zones:
      porch_area:
        coordinates: 0.05,0.95, 0.95,0.95, 0.95,0.55, 0.05,0.55
        objects:
          - person
          - dog
          - cat

  cobra_cam_3:
    enabled: true
    ffmpeg:
      <<: *ffmpeg_defaults
      inputs:
        - path: rtsp://admin:il0wwlm%3F@192.168.1.103:554/ch01/0
          roles: [detect, record]
    detect:
      width: 320
      height: 240
      fps: 1
    objects:
      track: [person, car, truck, dog, cat]
      filters:
        car:
          min_score: 0.7
          threshold: 10
          min_area: 8000
        truck:
          min_score: 0.7
          threshold: 10
          min_area: 8000
    zones:
      driveway_truck:
        coordinates: 0.0,0.75, 0.6,0.75, 0.6,1.0, 0.0,1.0
        objects:
          - person
          - car
          - truck
      sidewalk_front:
        coordinates: 0.0,0.6, 1.0,0.6, 1.0,0.75, 0.0,0.75
        objects:
          - person
          - dog
          - cat

go2rtc:
  streams:
    cobra_cam_1:
      - rtsp://admin:il0wwlm%3F@192.168.1.101:554/ch01/0
    cobra_cam_2:
      - rtsp://admin:il0wwlm%3F@192.168.1.102:554/ch01/0
    cobra_cam_3:
      - rtsp://admin:il0wwlm%3F@192.168.1.103:554/ch01/0

ui:
  timezone: America/Denver

detect:
  enabled: true

version: 0.16.0
